<%- include('../partials/adminHeader1.ejs') %>

<body class="bg-theme bg-theme1">

    <!-- start loader -->
       <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
       <!-- end loader -->
    
    <!-- Start wrapper-->
     <div id="wrapper">
    
      <!--Start sidebar-wrapper-->
       <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
         <div class="brand-logo">
          <a href="index.html">
           <img src="/assets/images/add.png" class="logo-icon" alt="">
           <h5 class="logo-text">RootSraad Admin</h5>
         </a>
       </div>
       <ul class="sidebar-menu do-nicescrol">
          <li class="sidebar-header">MAIN NAVIGATION</li>
        
          <li>
            <a href="/admin/Dashboard">
              <i class="zmdi zmdi-grid"></i> <span>Dashboard</span>
            </a>
          </li>
    
          <li>
            <a href="/admin/UserDetails">
              <i class="zmdi zmdi-grid"></i> <span>UserDetails</span>
            </a>
          </li>
          <li>
            <a href="/admin/category">
              <i class="zmdi zmdi-grid"></i> <span> Category Details </span>
            </a>
          </li>
    
          <li>
            <a href="/admin/viewproducts">
              <i class="zmdi zmdi-grid"></i> <span>Product Details</span>
            </a>
          </li>
          <li>
            <a href="/admin/coupon">
              <i class="zmdi zmdi-grid"></i> <span>Coupon Details</span>
            </a>
          </li>
          <li>
            <a href="/admin/oderDetails">
              <i class="zmdi zmdi-grid"></i> <span>Oder Details</span>
            </a>
          </li>
          <li>
            <a href="/admin/banner">
              <i class="zmdi zmdi-grid"></i> <span>Banner Details</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="zmdi zmdi-grid"></i> <span>sales report</span>
            </a>
          </li>
          <li>
            <a href="/admin/signout">
              <i class="zmdi zmdi-grid"></i> <span>logout</span>
            </a>
          </li>
        </ul>
       
    
      </ul>
       
       </div>
       <!--End sidebar-wrapper-->
    
   <!--Start topbar header-->
<header class="topbar-nav">
    <nav class="navbar navbar-expand fixed-top">
     <ul class="navbar-nav mr-auto align-items-center">
       <li class="nav-item">
         <a class="nav-link toggle-menu" href="javascript:void();">
          <i class="icon-menu menu-icon"></i>
        </a>
       </li>
     </ul>
       <li class="nav-item"style="list-style: none;">
         <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="">
           <span class="user-profile"><img src="https://cdn-icons-png.freepik.com/256/4661/4661944.png?uid=R138585523&ga=GA1.1.1752433901.1695001313&" class="img-circle" alt="user avatar"></span>
         </a>
        
       </li>
     </ul>
   </nav>
   </header>
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
          
          <!-- start......................................................... -->
          <div class="row ">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Order Status</h4>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th> Name </th>
                          <th > Image  </th>
                          <th style="text-align: center;"> Quantity </th>
                          <th> phone </th>
                          <th>Status</th>
                          <th>Change Status</th>
                        </tr>
                      </thead>
                      <tbody>

                        <% for(var i=0;i<orders.length;i++){%>
                          <tr style="border: solid 5px;">
                            <% for(var j=0 ;j<orders[i].products.item.length ;j++) {%>
                            <tr  >
                                <% for(var k=0;k<product.length;k++) {%>
                                    <% if(product[k]._id.toString()  ==  orders[i].products.item[j].productId.toString()){ %>
                                <td ><%= product[k].name %></td>
                                <td><img src=" /productImages/<%= product[k].image[0] %>" alt="" style="width: 50px; height: 50px;" ></td>
                                
                                <td style="text-align: center;"><%= orders[i].products.item[j].qty %></td>
                                <% if(j==0){ %>
                                  <td><%= orders[i].phone1 %></td>
                                  <% }%>
                                  
                                  <% if(j==0){ %>
                                <td class="orderStatus"><%= orders[i].status %></td>
                                <% }%>

                                <% if(j==0){ %>
                                <td>
                                <select order-id="<%= orders[i]._id %>" class="orderStatusChange">
                                    <option value="options"style="background-color: transparent;" >Select..</option>
                                    <option value="order confirmed" style="background-color: transparent;" >order confirmed</option>
                                    <option value="shipped"style="background-color: transparent;"  >shipped</option>
                                    <option value="delivered" style="background-color: transparent;" >delivered</option>
                                    <option value="cancell"style="background-color: transparent;"  >cancel</option>
                                    <option value="returned"style="background-color: transparent;"  >returned</option>
                                </select>
                                </td>
                                <% }%>
                                
                                <% }%>
                               
                              <%}%>
                          </tr>
                          <%}%>
                        </tr>
                        <%}%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <!-- end......................................................... -->

          
        </div>  
        </div>

        <script>

         let arr=document.querySelectorAll(".orderStatus")
         
         let arr2=document.querySelectorAll(".orderStatusChange")

         arr2.forEach((element,index)=>{
          element.addEventListener('change',()=>{
          arr[index].innerHTML = element.value
            orderId = element.getAttribute('order-id')
            console.log(orderId+"oderid")
          fetch("/admin/status/change", {
              method: "put",
              headers: {
                  "Content-Type": "application/json",
                  // Add any other headers here if needed
              },
              body: JSON.stringify({ value : element.value , idvalue: orderId}),
          })
              .then((response) => {
                  console.log("5....");
                  const result = response.json();
                 
                  return result;
              })
              .then((data) => {
                  console.log("data==" + data);

              })
              
              .catch((err) => console.log(err));
          })
         })
          

         arr.forEach((element,index)=>{
          changeArr = ['select','order confirmed','shipped','delivered','returned']
          const orderStatus = element.innerHTML
          const status = changeArr.indexOf(orderStatus)
          if (status>=0){
            arr2[index].value =orderStatus;

            let options = arr2[index].getElementsByTagName("option");

            let selectedIndex = Array.from(options).findIndex(option => option.value === orderStatus);

          for (let i = 0; i < selectedIndex; i++) {
              options[i].disabled = true;
           
            
          }

        }
          
         })

         arr2.forEach((element,index)=>{
          element.addEventListener('change',()=>{

            let options = element.getElementsByTagName("option");

            let selectedIndex = Array.from(options).findIndex(option => option.value === arr[index].innerHTML);

          for (let i = 0; i < selectedIndex; i++) {
              options[i].disabled = true;
              
          }
          window.location.reload()
          })
         })
        </script>







 <!-- Bootstrap core JavaScript-->
 <script src="/assets/js/jquery.min.js"></script>
 <script src="/assets/js/popper.min.js"></script>
 <script src="/assets/js/bootstrap.min.js"></script>
 
 <!-- simplebar js -->
 <script src="/assets/plugins/simplebar/js/simplebar.js"></script>
 <!-- sidebar-menu js -->
 <script src="/assets/js/sidebar-menu.js"></script>
 
 <!-- Custom scripts -->
 <script src="/assets/js/app-script.js"></script>

 
 
</body>
</html>
