
<%- include('../partials/userheader.ejs')%>
<%- include('../layouts.ejs')%>
<main class="main">
   
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div>
    </div>
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div>
    </nav>

<div class="page-content ">
    <div class="checkout">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="page-content mb-4" id="address-reload">
                        <div class="checkout">
                            <div class="container">
                                <h3 class="card-title p-3">Billing Address</h3>
                                <% if(address.length==0){%>
                                <div class="ml-3 mb-3">
                                    <a class="btn btn-outline-primary" data-toggle="modal"
                                        data-target="#exampleModal">Add<i class="icon-edit  "></i></a>
                                </div>
                                <% }else{%>
                                    <div class="row">
                            
                                        <div class="col-lg-9 " id="address-reload">
                                            <% address.forEach((data,index)=>{%>
                                            <div class="col-lg-9 ">
                                                <div class="card card-dashboard  border border-3 rounded">
                                                    <div class="card-body">
                                                        <input type="radio" name="selectedAddress" id="selectedAddress"
                                                        value="<%=data._id%>" required>
                                                         <p>
                                                            <%=data.fullname%><br>
                                                            <%=data.houseName%><br>
                                                            <%=data.country%><br>
                                                            <%=data.city%><br>
                                                            <%=data.state%><br>
                                                            <%=data.mobile%><br>
                                                            <%=data.pin%><br>
                                                            <%=data.email%><br>
                                                            <a  href="/editAddress?id=<%=data._id%>">Edit Address<i class="icon-edit"></i></a>
                                                        </p> 
                                                    </div>
                                                </div>
                                            </div> 

                                        </div> 
                                        <% }); %>
                                    </div>
                                    <% }%>
                            </div>
                        </div>
                    </div>
                </div>
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3>

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% cartProducts.forEach((data)=>{%>
                                        <tr>
                                            <td><a href="#"><%=data.name%></a></td>
                                            <td>₹<%=data.price%></td>
                                        </tr>
                                        <%}) %>
                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>₹<%=totalPrice %></td>
                                        </tr>
                                        <tr>
                                            <td>Shipping:</td>
                                            <td>Free shipping</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>$160.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                       
                                <div class="accordion-summary" id="accordion-payment">
                                       
                                            <div class="card-header" id="heading-3">
                                                <h2 class="card-title">
    
                                                    <input type="radio" value="COD" name="payment" checked> Cash on
                                                    delivery<br>
                                                    <input type="radio" value="online payment" name="payment" class="mt-1">
                                                    Online payment<br>
                                                </h2>
                                                <br>
                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                            </div>
                          
                               <br>
                                    <div class="cart-discount">
                                      
                                        <div class="input-group">
                                          <input type="text" name="coupon" id="couponValue" class="form-control" required placeholder="coupon code...."/>
                                            <button style="height:40px" id="couponButton" class="btn btn-outline-primary-2" type="button">
                                              <i  class ="icon-long-arrow-right"></i>
                                            </button>
                                        </div>
                                    
                                    </div>
                                    <span class="px-2 p-1 col-lg-12 col-12" style="font-size: 14px; color: #9a9a9a;">
                                        Available Coupons?
                                        <a href="#" id="openModalBtn" class="text-decoration-none text-danger">
                                            Click Here
                                        </a>
                                    </span>
                                    <div id="modal" class="modal">
                                        <div class="modal-content">
                                            <div class="modalWrapper">
                                                <div class="modelWrapper2">
                                                    <span class="close">&times;</span>
                                                    <h4 class="mb-4 text-dark fw-bold ms-3">Select your Coupon</h4>
                                                    <ul  id="couponList" style="list-style: none; color: #ca761c;">
                                                        <% if(coupon.length>0){%>
                                                            <%coupon.forEach((data,index)=>{%>
                                                  
                                                            <div class="d-flex align-items-center justify-content-between mb-1">
                                                                <li class="text-uppercase fw-bold">#<%=index+1%></li>
                                                                <li class="text-uppercase fw-bold"><%=data.couponName%></li>
                                                                <li class=" fw-bold"><%=data.couponValue%>%</li>
                                                                <li class=" fw-bold"><%=data.expiryDate%></li>
                                                                <li class=" fw-bold">₹<%=data.minValue%></li>

                                                                <li><img src="/assets/icons/178921.png" alt="" class="img-fluid" width="25px"></li>
                                                            </div>
                                                            <%})%>
                                                            <%}else{%>
                                                            <lottie-player src="https://assets1.lottiefiles.com/temp/lf20_LJK4oD.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
                                                            <%}%>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span id="CouponResultS" class="px-2 p-1 col-lg-12 col-12 text-success" style="font-size: 14px;"></span>
                                    <span id="CouponResultF" class="px-2 p-1 col-lg-12 col-12 text-danger" style="font-size: 14px;"></span>
                        </aside>https://lottiefiles.com/animations/search-file-4Xyy3zQKe7?from=search
                    </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Billing address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeBtn">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/addaddresscheckout" method="post">
                <div class="row p-5">
                    <div class="col-lg-9">

                        <div class="row">
                            <div class="col-sm-6">
                                <label>Full Name *</label>
                                <input type="text" class="form-control" name="fullname" id="fullname">
                                <span class="error-message text-danger" id="fullname-error"></span>
                            </div>
                        </div>

                        <label>Country *</label>
                        <input type="text" class="form-control" name="country" id="country">
                        <span class="error-message text-danger" id="country-error"></span>

                        <label>Street address *</label>
                        <input type="text" class="form-control" placeholder=""
                            name="houseName" id="houseName">
                        <span class="error-message text-danger" id="housename-error"></span>

                        <div class="row">
                            <div class="col-sm-6">
                                <label>Town *</label>
                                <input type="text" class="form-control" name="city" id="city">
                                <span class="error-message text-danger" id="city-error"></span>
                            </div>

                            <div class="col-sm-6">
                                <label>State *</label>
                                <input type="text" class="form-control" name="state" id="state">
                                <span class="error-message text-danger" id="state-error"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label>Postcode *</label>
                                <input type="text" class="form-control" name="pin" id="pin">
                                <span class="error-message text-danger" id="pin-error"></span>
                            </div>

                            <div class="col-sm-6">
                                <label>Phone *</label>
                                <input type="tel" class="form-control" name="mobile" id="mobile">
                                <span class="error-message text-danger" id="mobile-error"></span>
                            </div>
                        </div>

                        <label>Email address *</label>
                        <input type="email" class="form-control" name="email" id="email">
                        <span class="error-message text-danger" id="email-error"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-secondary" onclick="addAddress()">Add</button>

                </div>

            </div>
        </div>
    </div>

    <script src="./js/validation.js"></script>
       <!-- modal -->
       <script>  
        const closeModal = document.getElementsByClassName("close")[0];
        const modal = document.getElementById("modal");
        modal.style.display = "none";
        // Open the modal when the button is clicked
        function openModal() {
            const couponList = document.getElementById("couponList");
            const testCoupon = document.getElementById("testCoupon");
            modal.style.display = "block";
        };
        couponList.addEventListener("click", (event) => {
                if (event.target.tagName === "LI") {
                    const couponCode = event.target.textContent;
                    navigator.clipboard.writeText(couponCode)
                        .then(() => {
                            alert("Coupon code copied: " + couponCode);
                            modal.style.display = "none";
                        })
                        .catch(error => {
                            console.error("Error copying coupon code:", error);
                        });
                }
            });
        closeModal.addEventListener("click", () => {
            modal.style.display = "none";
        });
        window.addEventListener("click", (event) => {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        });
        const openModalBtn = document.getElementById("openModalBtn");
        openModalBtn.addEventListener("click", openModal);

    </script>
    <!-- coupon -->
    <script>
        const inputValueInput = document.getElementById("couponValue");
        const couponButton = document.getElementById('couponButton');
        const DiscountRate = document.getElementById('discountRate');
        const GrantTotall = document.getElementById('GrantTotall');
        const amount = document.getElementById('amount');
        couponButton.addEventListener('click',()=>{
            const inputValue = inputValueInput.value;
            const NewAmount  = amount.value;
              const requestBody = {
                coupon:inputValue,
                amount:NewAmount
              }

              fetch('/coupons/couponValidation',{
                method:'post',
                headers:{
                    'Content-Type':'application/json'
                },
                body: JSON.stringify(requestBody) 
              })
              .then(response => response.json())
              .then(data =>{
                const msg = data.message;
                const coupon = data.coupon;
                const NewTotall = amount.value-coupon.couponValue;
                const CouponResultS = document.getElementById('CouponResultS');
                const CouponResultF = document.getElementById('CouponResultF');
                const CurrentDi_Price =document.getElementById('discountRate');
                const Discount_Inte = parseInt(CurrentDi_Price.innerText);

                if(msg == 'Coupon is succefully Added'){
                    DiscountRate.innerText = Discount_Inte +parseInt(coupon.couponValue);
                    GrantTotall.innerText = NewTotall;
                    amount.value = NewTotall;
                    CouponResultS.style.display = 'block';
                    CouponResultS.innerText = "Coupon is succefully Added";
                     setTimeout(() => {
                     CouponResultS.style.display = 'none';
                     }, 2000);
                }else if(msg == 'Coupon Not Valid' || msg === 'Please Use A Valid Coupon'){
                    CouponResultS.style.display = 'block';
                    CouponResultF.innerText = "Please Use A Valid Coupon";
                    setTimeout(() => {
                     CouponResultF.style.display = 'none';
                     }, 2000);
                }else if(msg == 'You Already Use This Coupon'){
                    CouponResultS.style.display = 'block';
                    CouponResultF.innerText = "You Already Use This Coupon";
                    setTimeout(() => {
                     CouponResultF.style.display = 'none';
                     }, 2000);
                }
              })
              .catch(error =>{
                console.log("Error applying coupon:", error);
              })
        })

    </script>

<%- include('../partials/userfooter.ejs') %>