

    <main class="main">
        <%- include('../partials/userheader.ejs')%>

        <div class="intro-slider-container mb-4">

            <div class="intro-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "responsive": {
                        "992": {
                            "nav": true,
                            "dots": false
                        }
                    }
                }'>
                <div class="intro-slide" style="background-image: url(/images/demos/demo-11/slider/slide-1.jpg);">
                    <div class="container intro-content">
                        <h3 class="intro-subtitle text-primary">SEASONAL PICKS</h3>
                        <h1 class="intro-title">Get All <br>The Good Stuff</h1>

                        <a href="category.html" class="btn btn-outline-primary-2">
                            <span>DISCOVER MORE</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <div class="intro-slide" style="background-image: url(/images/demos/demo-11/slider/slide-2.jpg);">
                    <div class="container intro-content">
                        <h3 class="intro-subtitle text-primary">all at 50% off</h3>
                        <h1 class="intro-title text-white">The Most Beautiful <br>Novelties In Our Shop</h1>
                        <a href="category.html" class="btn btn-outline-primary-2 min-width-sm">
                            <span>SHOP NOW</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <span class="slider-loader"></span>
        </div>

        <div class="d-flex justify-content-center pb-5">
            <img src="/assetsmain/images/best.jpeg" width="90" alt="">
            <h1 class="pt-2">B E S T</h1>
            <div class="d-flex" >
                <h1 class="ml-5 pt-2">S E L L E R S</h1>
            </div>
        </div>

        <div class="container">
            <div class="widget-filter-area" id="product-filter-area">

                <div class="filter-area-wrapper">
                    <div class="row">
                      
                    </div><!-- End .row -->
                </div><!-- End .filter-area-wrapper -->
            </div><!-- End #product-filter-area.widget-filter-area -->
            
            <div class="products-container" data-layout="fitRows">
               <% products.forEach((data,index)=>{%> 
                <div class="product-item furniture col-6 col-md-3 col-lg-3">
                    <div class="product product-4">
                        <figure class="product-media">
                            <a href="">
                                <img src="/productImages/<%= data.image[0]%>" alt="Product image" class="product-image" style="height: 260px;">
                            </a>

                            <div class="product-action-vertical">
                                <a href="" class="btn-product-icon btn-wishlist"><span>add to wishlist</span></a>
                            </div>

                            <div class="product-action">
                                <a href="/productView/<%= data._id%>" class="btn-product "><span>Viw Products</span></a>
                            </div>
                        </figure>

                        <div class="product-body">
                            <h3 class="product-title"><a href="product.html"><%=data.name %></a></h3>

                            <div class="product-price">
                                <span class="new-price">₹ <%= data.price %></span>
                                <span class="old-price" style="text-decoration: line-through;">₹ <%= data.orginalprice %></span>
                            </div>
                           
                            <div class="rating d-flex align-items-center">
                                <div class="star d-flex align-items-center text-warning">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bx-star'></i>
                                </div>
                                <div class="value ms-2">(10)</div>
                            </div>
                        </div>
                    </div>  
                </div>
                <%})%>
             </div>
        </div>

        <div class="more-container d-flex justify-content-center mt-0 mt-7">
            <a href="/shop" class="btn btn-outline-dark-3 btn-more"><span>more products</span><i
                    class="la la-refresh"></i></a>

        </div><!-- End .more-container -->
    </main><!-- End .main -->

    <%- include('../partials/userfooter.ejs')-%>