<%- include('../partials/userheader.ejs')%>
<%- include('../layouts.ejs')%>


<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container-fluid">
            <h1 class="page-title"><span>Shop</span></h1>
        </div>
    </div>
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
        </div>
    </nav>

    <div class="page-content">
            <div class="container-fluid">
                <div class="toolbox">
                    <div class="toolbox-left">
                        <a  class="sidebar-toggler"><i class="icon-bars"></i>Filters</a>
                    </div>

                    <div class="toolbox-center">
                        <div class="toolbox-info">
                            
                        </div>
                    </div>

                    <!-- <div class="toolbox-right">
                        <div class="toolbox-sort">

                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Sort by
                                </button>
                                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item h6" href="/shop?id=1">Low-High</a>
                                    <a class="dropdown-item h6" href="/shop?id=-1">Hight-Low</a>

                                </div>
                            </div>
                        </div>
                    </div> -->
                    
                </div>
                <%if(products.length===0){%>
                    <h1 class="text-center">No items Found</h1>
                                     <% }else{%>
                <div class="products-container" data-layout="fitRows" id="sample">
                    <% products.forEach((data,index)=>{%> 
                     <div class="product-item furniture col-6 col-md-3 col-lg-3">
                         <div class="product product-4">
                             <figure class="product-media">
                                 <a href="/productView/<%= data._id%>">
                                     <img src="/productImages/<%= data.image[0]%>" alt="Product image" class="product-image" style="height: 260px;">
                                 </a>
                                 
                                 <div class="product-action">
                                    <a href="/productView/<%= data._id%>" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                             </figure>
     
                             <div class="product-body">
                                 <h3 class="product-title"><a href="product.html"><%=data.name %></a></h3>
     
                                 <div class="product-price">
                                    <% if (data.quantity <= 0) { %>
                                        <span class="new-price">Out of Stock</span>
                                    <% } else { %>
                                        <span class="new-price">₹ <%= data.price %></span>
                                   
                                </span>
                                     <span class="old-price" style="text-decoration: line-through;">₹ <%= data.orginalprice %></span>
                                     <% } %>
                                 </div>
                                
                                 <div class="rating d-flex align-items-center">
                                     <div class="star d-flex align-items-center text-warning">
                                         <i class='bx bxs-star'></i>
                                         <i class='bx bxs-star'></i>
                                         <i class='bx bxs-star'></i>
                                         <i class='bx bxs-star'></i>
                                         <i class='bx bx-star'></i>
                                     </div>
                                     <div class="value ms-2">(10)</div>
                                 </div>
                             </div>
                         </div>  
                     </div>
                     <%})%>
                </div>
                  <% }%>
                  <div></div>

                  <nav aria-label="Page navigation" style="margin-left: 600px;" >
                    <ul class="pagination">
                        <!-- disabled -->
                        <li class="page-item " onclick="pageright(-1,'<%= products.length%>')">
                            <a
                                class="page-link page-link-prev"
                                href="#"
                                aria-label="Previous"
                                tabindex="-1"
                                aria-disabled="true"
                            >
                                <span aria-hidden="true"><i class="icon-long-arrow-left" ></i></span>Prev
                            </a>
                            
                        </li>
                        <li class="page-item active" id="pageid" aria-current="page"><a class="page-link" href="#" id="innerValue">1</a></li>
                        <li class="page-item" onclick="pageright(1,'<%= products.length%>')">
                            <a class="page-link page-link-next" href="#" aria-label="Next">
                                 <span aria-hidden="true" >Next<i class="icon-long-arrow-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
                    
                    

                
                  <div class="sidebar-filter-overlay"></div>
                  
                  <aside class="sidebar-shop sidebar-filter">
                      <div class="sidebar-filter-wrapper">
                          <div class="widget widget-clean">
                              <label><i class="icon-close"></i>Filters</label>
                          </div>
                          <div class="widget widget-collapsible">
                              <h3 class="widget-title">
                                  <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
                                      aria-controls="widget-1">
                                      Category
                                  </a>
                              </h3>


                              <div class="collapse show" id="widget-1">
                                  <div class="widget-body">
                                      <div class="filter-items filter-items-count">
                                          <div class="filter-item">
                                          
                                                <% data.forEach((element,index) => {%>
                                                      <div class="custom-control custom-checkbox">
                                                        <input type="checkbox"onclick="getCategory('<%=element.categoryName%>')"class="custom-control-input"id="<%= element._id %>"/>
                    
                                                          <label class="custom-control-label" for="<%= element._id %>">
                                                            <%= element.categoryName %>
                                                          </label>
                                                        
                                                      </div>
                                                    <% })%>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="widget widget-collapsible">
                              <h3 class="widget-title">
                                  <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true"
                                      aria-controls="widget-4">
                                      Price
                                  </a>
                              </h3>
  
                              <div class="collapse show" id="widget-4">
                                  <div class="widget-body">
                                      <div class="filter-items">
  
  
                                          <div class="filter-item">
                                              <div class="custom-control custom-radio">
                                                  <input type="radio" class="custom-control-input" id="price-1"
                                                      value="" onclick="priceSort(1)" name="filter-price">
                                                  <label class="custom-control-label" for="price-1">Low To High</label>
                                              </div>
                                          </div>
  
                                          <div class="filter-item">
                                              <div class="custom-control custom-radio">
                                                  <input type="radio" class="custom-control-input" id="price-2"
                                                      value="" onclick="priceSort(-1)" name="filter-price">
                                                  <label class="custom-control-label" for="price-2">High To Low</label>
                                              </div>
                                          </div>
  
                                      
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </aside>
                 
            </div>
      </div>
</main>

<script>
    
    let categorycheckbox = new Array();
    let productvalue = null;
    let sortValue = null;
    let result=0 ;
    let resultleft=0 ;
    let pricdt = null;
    let Categoriesdt = null ;

    //*********************** pagination ***********************//

    function pageright(value,len){  
        let innerValue = document.getElementById("innerValue").innerHTML
        // let innerSort = document.getElementById("innerValue").innerHTML
        result=result+value
        resultleft=result+4
    
        fetch("/poduct/pagin", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ svalue: result, lvalue: value , checkbox: categorycheckbox, sortValue,innerValue}),
            })
                .then((response) => {
                    console.log("5....");
                    const result = response.json();
                    // console.log(result);
                    return result;
                })
                .then((data) => {
                    console.log( data);
                    // resultcall(data)
                    let nextpage = data.pop()

                    respagelenght(nextpage)
                    resultcall(data);
                    
                })
                .catch((err) => console.log(err));
        
    }
    function pageleft(result,len){  
        let innerVal = document.getElementById("innerValue").innerHTML
    // result = resultleft-value
    let result2 = resultleft-(value*2)
    // const value = document.getElementById("searchValue").value

    fetch("/poduct/pagin", {
        method: "post",
        headers: {
            "Content-Type": "application/json",
            // Add any other headers here if needed
        },
        body: JSON.stringify({ svalue: result2,lvalue: result , checkbox: categorycheckbox, sortValue,innerValue}),
    })
        .then((response) => {
          
            const result = response.json();
            // console.log(result);
            return result;
        })
        .then((data) => {
           
            let nextpage = data.pop()

            respagelenght(nextpage)
            resultcall(data)
            
        })
        .catch((err) => console.log(err));

        console.log(value)
        }

    //*********************** Sort ***********************//

    function priceSort(val){
      
       
        let innerVal = document.getElementById("innerValue").innerHTML
       
        // return;
         sortValue = val;
       
        if (sortValue == 1) {
            document.getElementById("price-1").value = 1
            if(Categoriesdt == null){
                fetch("/poduct/sortfind", { 
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({innerValue:innerVal, va: sortValue ,checkbox:categorycheckbox}),
            })
                .then((response) => {
 
                    const result = response.json();
                    return result;
                })
                .then((data) => {
                    let nextpage = data.pop()
                    respagelenght(nextpage)
                    resultcall(data);
                })
                .catch((err) => console.log(err));
            }
            
        } else if (sortValue == -1) {
            document.getElementById("price-2").value = -1
            fetch("/poduct/sortfind", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({innerValue:innerVal, va: sortValue ,checkbox:categorycheckbox}),
            })
                .then((response) => {
                    const result = response.json();
                    return result;
                })
                .then((data) => {

                    let nextpage = data.pop()
                    respagelenght(nextpage)
                    resultcall(data);

                    // let ogdata = data.pop()
                    // let nextpage = data[4]
                    // console.log(ogdata);
                    // console.log(nextpage);
                    // respagelenght(data)
                    // resultcall(data);
                })
                .catch((err) => console.log(err));
        }
    }

    //*********************** Category ***********************//

    function getCategory(name) {
        const category = name;
       
        sortValue = document.querySelector('input[name="filter-price"]:checked')?.value;

        if (categorycheckbox.includes(name)) {
            const index = categorycheckbox.indexOf(name);
            categorycheckbox.splice(index, 1);
        } else {
            categorycheckbox.push(name);
        }
        if (categorycheckbox.length == 0){
            if(sortValue == 1){
              
                fetch("/poduct/sortfind", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ va: sortValue ,checkbox:categorycheckbox}),
            })
                .then((response) => {
                    const result = response.json();
                    return result;
                })
                .then((data) => {
                    // resultcall(data);
                    console.log("data has arrived");
                    console.log(data);
                    let nextpage = data.pop()
                    respagelenght(nextpage)
                    resultcall(data);
                   
                });

            }else if(sortValue == -1){

             
                console.log(sortValue,categorycheckbox);

                fetch("/poduct/sortfind", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ va: sortValue ,checkbox:categorycheckbox}),
            })
                .then((response) => {
                    const result = response.json();
                    return result;
                })
                .then((data) => {
              
                    // resultcall(data);
                    let nextpage = data.pop()
                    respagelenght(nextpage)
                    resultcall(data);
                });

            }else{
            fetch("/poduct/filter", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify(categorycheckbox),
            })
                .then((response) => {
                    const result = response.json();
                    return result;
                })
                .then((data) => {
                    // resultcall(data);
                    let nextpage = data.pop()
                    respagelenght(nextpage)
                    resultcall(data);
                });
            }
        }

        if (categorycheckbox.length > 0) {

            if(sortValue == 1){

                fetch("/poduct/sortfind", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ va: sortValue ,checkbox:categorycheckbox}),
            })
                .then((response) => {
                    const result = response.json();
                    return result;
                })
                .then((data) => {
                    // resultcall(data);
                    let nextpage = data.pop()
                    respagelenght(nextpage)
                    resultcall(data);
                });

            }else if(sortValue == -1){

                fetch("/poduct/sortfind", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ va: sortValue ,checkbox:categorycheckbox}),
            })
                .then((response) => {
                    const result = response.json();
                    return result;
                })
                .then((data) => {
                    // resultcall(data);
                    let nextpage = data.pop()
                    respagelenght(nextpage)
                    resultcall(data);
                });

            }else{

            fetch("/poduct/filter", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify(categorycheckbox),
            })
                .then((response) => {
                    const result = response.json();
                    return result;
                })
                .then((data) => {
                    // resultcall(data);
                    let nextpage = data.pop()
                    respagelenght(nextpage)
                    resultcall(data);
                });
            }
        }
    }
//*********************** Resultcall ***********************//

function respagelenght(data){

let productdiv = document.getElementById("pageid");
productdiv.innerHTML = "";
    const item = `<li class="page-item active" id="pageid" aria-current="page"><a class="page-link" href="#" id="innerValue">${data}</a></li>`
    productdiv.innerHTML += item;
}

function resultcall(data) {
let productdiv = document.getElementById("sample");

productdiv.innerHTML = "";

data.forEach((element) => {
    // console.log(element.image);
    const item = ` 
<div class="product-item furniture col-6 col-md-3 col-lg-3">
                         <div class="product product-4">
                             <figure class="product-media">
                                 <a href="/productView/${element._id}">
                                     <img src="/productImages/${element.image[0]}" alt="Product image" class="product-image" style="height: 260px;">
                                 </a>
                                 
                                 <div class="product-action">
                                    <a href="/productView/${element._id}" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                             </figure>
     
                             <div class="product-body">
                                 <h3 class="product-title"><a href="product.html">${element.name}</a></h3>
     
                                 <div class="product-price">
                                     <span class="new-price">₹ ${element.price}</span>
                                     <span class="old-price" style="text-decoration: line-through;">₹ ${element.orginalprice}</span>
                                 </div>
                                
                                 <div class="rating d-flex align-items-center">
                                     <div class="star d-flex align-items-center text-warning">
                                         <i class='bx bxs-star'></i>
                                         <i class='bx bxs-star'></i>
                                         <i class='bx bxs-star'></i>
                                         <i class='bx bxs-star'></i>
                                         <i class='bx bx-star'></i>
                                     </div>
                                     <div class="value ms-2">(10)</div>
                                 </div>
                             </div>
                         </div>  
                     </div>
`;
    productdiv.innerHTML += item;
});
}
function productsearch(){        
        
        const value = document.getElementById("searchValue").value

        fetch("/poduct/search", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    // Add any other headers here if needed
                },
                body: JSON.stringify({ va: value }),
            })
                .then((response) => {
                    console.log("5....");
                    const result = response.json();
                    // console.log(result);
                    return result;
                })
                .then((data) => {
                    console.log("data==" + data);

                    resultcall(data);
                })
                .catch((err) => console.log(err));


        console.log(value)
    }
</script>

<%- include('../partials/userfooter.ejs') %>